<nav>
<div class="navbar">
  <ul>
    <li><a href="/" class="<%= path==='/' ? 'active': '' %>">Home</a></li>
    <li><a href="/products" class="<%= path==='/products' ? 'active': '' %>">Products</a></li>
    <li class="dropdown">
    <a href="/categories" class="dropbtn">Categories</a>
      <div class="dropdown-content">
        <a href="/categories/cars">Cars</a>
        <a href="/categories/motorcycles">Motorcycles</a>
        <a href="/categories/buildings">Buildings</a>
      </div>
      </li>
      <li><a href="#">Contact</a></li>
    <li><a href="#">About</a></li>
      <% if(isAuthenticated){ %>
    <li><a href="/favorite">Favorites</a></li>
    <li style="float:right" class="dropdown">
      <a class="dropbtn-user"><%= user.name %></a>
        <div class="dropdown-content-user">
          <a href="/categories/cars">Cars</a>
          <a href="/categories/motorcycles">Motorcycles</a>
          <a href="/categories/buildings">Buildings</a>
        </div>
        </li>
    <li style="float:right"><form action="/logout" method="post"> <input type="submit" value="Log Out"></form></li>
    <% } else { %>
    <li style="float:right"><a href="/login" class="<%= path==='/login' ? 'active' : '' %>">Login</a></li>
    <li style="float:right"><a href="/signup" class="<%= path==='/signup' ? 'active' : '' %>">Signup</a></li>
    <% } %>
  </ul>
</div>
</nav>
