<%- include('../includes/head');  %>
<link rel="stylesheet" href="/css/navBarCss.css">
<link rel="stylesheet" href="/css/signup.css">
<link rel="stylesheet" href="/css/userSetting.css">

</head>
<body>
<%- include('../includes/nav-bar');  %>
<main>
    <div class="container-left-navbar">
        <nav class="navbar-left">
            <ul>
                <li><a class="navbar-left-a <%= path==='user/account' ? 'active': '' %>" href="/user/<%= user.id %>/account" >Account</a></li>
                <li><a class="navbar-left-a" href="/user/<%= user.id %>/products">My Products</a></li>
                <li><a class="navbar-left-a" href="/user/<%= user.id %>/help">Help</a></li>
            </ul>
        </nav>
        <div class="content-left">
            <!-- Sayfa içeriği buraya gelecek -->
            <div class="container">
                <% if(error){ %>
                <h4 class="error-message"><%= error %></h4>
                <%  } %>
              <h2 class="signupH2">User Settings</h2>
              <form action="/signup" method="post">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="<%= user.name %>" required>
                <label for="name">Surname</label>
                <input type="text" name="surName" value="<%= user.surName %>" required>
                <label for="name">Email</label>
                <input type="email" name="email" value="<%= user.email %>" required>
                <input type="password" name="password" placeholder="Old Password" required>
                <input type="password" name="password" placeholder="New Password" required>
                <input type="password" name="cfrmPassword" placeholder="Confirm Password" required>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="submit" value="Change User Settings">
              </form>
            </div>
        </div>
    
</body>
</html>