<main>
    <div class="container">
        <h2>My <%= name%></h2>
        <% if(products.length> 0){ %>
            <% for (let product of products) { %>

                <div class="product-list">
                    <div class="product">
                        <h2>
                            <%= product.name %>
                        </h2>
                        <img src="product1.jpg" alt="Product 1">
                        <h3>
                            <%= product.price %>
                        </h3>
                        <p>
                            <%= product.announce_details %>
                        </p>

                        <p>
                            <%= product.kilometer %>
                        </p>
                        <a class="edit-button" href="/user/<%= user.id %>/product-edit/<%= product.id %>">Edit</a>
                        <form action="/myproduct-delete" method="post" class="deleteForm">
                            <input type="hidden" name="productId" value="<%= product.id %>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit">Delete</button>
                        </form>
                    </div>

                    <% } %>
                </div>
                <% } else{ %>
                    <h2>Added no <%= name%> yet</h2>
                    <% } %>
    </div>
</main>