<!-- Inside your main tag -->
<div class="container">
    <h2>My <%= name %></h2>
    <% if(products.length > 0){ %>
            <div class="container">
                <div class="product-list">
                    <% products.forEach(product => { %> 
                        <div class="product">
                            <img src="<%= product.imageUrl %>" alt="<%= product.name %>" class="products-img">
                            <div class="product-info">
                                <h2><%= product.name %></h2>
                                <p>Price: $<%= product.price %></p>
                                <p>Kilometer: <%= product.kilometer %> km</p>
                                <p>Description: <%= product.announce_details %></p>
                            </div>
                            <div class="action-buttons">
                                <a href="/admin/<%= admin.id %>/product-edit/<%= product.id %>">Edit</a>
                                <form action="/product-delete" method="POST" class="deleteForm">
                                    <input type="hidden" name="productId" value="<%= product.id %>">
                                    <input type="hidden" name="name" value="<%= name %>">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button type="submit" class="delete-button">Delete</button>
                                </form>
                            </div>
                        </div>
                    <% }); %>
        </div>
    <% } else { %>
        <h2>No <%= name %> added yet.</h2>
    <% } %>
</div>
