<%- include('../../includes/head'); %>
<link rel="stylesheet" href="/css/navBarCss.css">
<link rel="stylesheet" href="/css/userSetting.css">
<link rel="stylesheet" href="/css/mycars.css"> <!-- Ensure this is the last CSS link for priority -->

</head>

<body class="my-cars-page">
    <%- include('../../includes/nav-bar'); %>
    <%- include('./includes/user-navbar'); %>

    <div class="container">
        <div class="product-list">
            <% products.forEach(product => { %> <!-- Assuming 'products' is the array containing car data -->
                <div class="product">
                    <img src="<%= product.imageUrl %>" alt="<%= product.name %>" class="products-img">
                    <div class="product-info">
                        <h2><%= product.name %></h2>
                        <p>Price: $<%= product.price %></p>
                        <p>Kilometer: <%= product.kilometer %> km</p>
                        <p>Description: <%= product.description %></p>
                    </div>
                    <div class="action-buttons">
                        <a href="/edit-my-product/<%= product.id %>" class="edit-button">Edit</a>
                        <form action="/delete-my-product/<%= product.id %>" method="POST" class="deleteForm">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

</body>

</html>
