<%- include('../../includes/head'); %>
<link rel="stylesheet" href="/css/navBarCss.css">
<link rel="stylesheet" href="/css/signup.css">
<link rel="stylesheet" href="/css/userSetting.css">
</head>

<body>
    <%- include('../../includes/nav-bar'); %>
    <main>
        <%- include('./includes/user-navbar'); %>
        <div class="content-left">
            <div class="container">
                <% if(error){ %>
                    <h4 class="error-message">
                        <%= error %>
                    </h4>
                <% } %>
                <h2 class="signupH2">User Settings</h2>
                <div class="form-row">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" value="<%= user.name %>" required>
                        <button formaction="/name-update" formmethod="post">Change Name</button>
                    </div>
                    <div class="form-group">
                        <label for="surname">Surname:</label>
                        <input type="text" id="surname" name="surname" value="<%= user.surName %>" required>
                        <button formaction="/surname-update" formmethod="post">Change Surname</button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" value="<%= user.email %>" required>
                        <button formaction="/email-update" formmethod="post">Change Email</button>
                    </div>
                    <div class="form-group">
                        <label>Old Password:</label>
                        <input type="password" id="oldPassword" name="oldPassword" placeholder="Old Password" required>
                        <label>New Password:</label>
                        <input type="password" id="password" name="password" placeholder="New Password" required>
                        <label>Confirm Password:</label>
                        <input type="password" id="cfrmPassword" name="cfrmPassword" placeholder="Confirm Password" required>
                        <button formaction="/password-update" formmethod="post">Change Password</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
