<%- include('../includes/head');  %>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/navBarCss.css">

</head>
<body>
<%- include('../includes/nav-bar');  %>
<main>
<div class="container">
    <% if(error){ %>
        <h4 class="error-message"><%= error %></h4>
    <%  } %>
  <h2>Admin Change Password</h2>
  <form action="/admin-reset-password" method="post">
    <input type="password" name="password" placeholder="password" required>
    <input type="password" name="cfrmPassword" placeholder="confirm password" required>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="token" value="<%= token %>" >
    <input type="hidden" name="adminId" value="<%= adminId %>" > 
    <input type="submit" value="Change new password">
  </form>
</div>
</main>

</body>
</html>

</body>